- model_class = Transaction
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:sender_id)
      %th= model_class.human_attribute_name(:receiver_id)
      %th= model_class.human_attribute_name(:amount)
      %th= model_class.human_attribute_name(:created_at)
  %tbody
    - @transactions.each do |transaction|
      %tr
        %td= link_to transaction.id, transaction_path(transaction)
        %td= transaction.sender.username
        %td= transaction.receiver.username
        %td= transaction.amount
        %td=l transaction.created_at

= link_to t('.new', :default => t("helpers.links.new")), new_transaction_path, :class => 'btn btn-primary'
