- model_class = Transaction
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:sender_id) + ':'
  %br
  = @transaction.sender.username
%p
  %strong= model_class.human_attribute_name(:receiver_id) + ':'
  %br
  = @transaction.receiver.username
%p
  %strong= model_class.human_attribute_name(:amount) + ':'
  %br
  = @transaction.amount
%p
  %strong Time:
  %br
  = @transaction.created_at

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), transactions_path, :class => 'btn'
