= simple_form_for @account, :html => { :class => 'form-horizontal' } do |f|
  = f.input :user_id, collection: User.all, label_method: :username
  = f.input :number
  = f.input :current_amount
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), accounts_path, :class => 'btn'
